/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 *
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */

 .notion {
  --notion-max-width: 720px;
  --notion-header-height: 54px;
}

.notion-frame {
  padding: 0;
}

.notion-page {
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.5;
}

.index-page,
.tags-page {
  --notion-max-width: 900px;
}

.tags-page .notion-collection-header {
  display: none;
}

.tags-page .notion-gallery {
  padding-top: 2em;
}

.tags-page .notion-gallery-grid {
  padding-top: 4em;
}

.notion-asset-caption {
  text-align: left;
}

.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  width: 100% !important;
}

.notion-header .notion-nav-header {
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: auto;
}

.notion-nav-header-rhs {
  gap: 0.5rem;
}

.notion-gallery-grid {
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 2.5vmin;
  gap: 2.5vmin;
  border-top: none;
}

.notion-gallery-grid .notion-page-icon-inline {
  margin-left: 2px;
  margin-right: 6px;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}

.notion-gallery-grid .notion-page-title-text,
.notion-gallery-grid .notion-collection-card-property {
  white-space: unset;
}

.notion-gallery-grid .notion-page-title-text {
  font-size: 1.2em;
}

.notion-gallery-grid .notion-property-text {
  font-size: 14px;
}

.notion-collection-card,
.notion-collection-card-cover {
  border-radius: 16px;
}

.notion-collection-card {
  overflow: visible;
  box-shadow: rgb(15 15 15 / 30%) 0px 1px 4px 2px;
  background: var(--bg-color-1);
}

.notion-collection-card-cover img {
  border-radius: 16px;
}

.notion-collection-card-cover {
  border-bottom: 0 none;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
  transition: filter 150ms linear;
  filter: none;
}

.notion-collection-card:hover .notion-collection-card-cover {
  filter: brightness(120%);
}

.notion-collection-card-body {
  padding: 10px;
}

/* only target safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  .notion-collection-card-cover {
    transition: none 0ms linear;
  }
}

.notion-quote {
  padding: 0.5em 1em;
  line-height: 1.5;
  font-style: normal;
  font-size: 1em;
  border-left: 4px solid #67bdfc;
}

.notion-h1,
.notion-h2,
.notion-h3 {
  margin-bottom: 0.25em;
}

.notion-callout {
  margin: 0.75em 0;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  border: 1px solid lightgrey;
}

.notion-hr {
  margin: .5em 0;
}

@media only screen and (max-width: 920px) {
  .index-page.notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 720px) {
  .notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .notion-search-button {
    display: none !important;
  }
}

.notion .notion-page-icon-cover {
  margin-left: auto;
  margin-right: auto;
}

.notion-title {
  display: block;
  text-align: center;
}

.notion-collection-row {
  padding-bottom: 1em;
}

.notion-collection-page-properties .notion-collection-column-title {
  display: none;
}

.notion-collection-row-property .notion-property {
  display: flex;
  justify-content: center;
}

.notion-collection-row-value {
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 23px;
}

.notion-page-cover-wrapper,
.notion-page-cover-wrapper span,
.notion-page-cover-wrapper img {
  max-width: 1200px !important;
  border-radius: 24px;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

.notion-page-cover-hero {
  cursor: grab;
}

.notion-page-cover-hero:active {
  cursor: grabbing;
}

@media only screen and (max-width: 1200px) {
  .notion-page-cover-wrapper,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    border-radius: 0;
  }
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-page-link {
  justify-content: center;
  padding: 2em;
}

.notion-code {
  background: rgba(249, 250, 251, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
}

.notion-link {
  position: relative;
  transition: unset;
  opacity: 1;
  border-bottom-width: 0.1rem;
  background: transparent;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 0 0.1rem;
}

.notion-link:focus,
.notion-link:hover {
  border-bottom-color: transparent;
  background-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.1rem;
  transition-property: background-position, background-size;
  transition-duration: 300ms;
}

.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 1 -0.25rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  box-decoration-break: clone;
  background-color: none;
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f1f1ef 0%,
    #56565733 100%,
    var(--bg-color)
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.08);
  color: #37352f;
}

.notion-brown_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #ead1ac 0%,
    #cd8032a8 100%,
    var(--bg-color)
  );
}

.notion-orange_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #FBCEB1 0%,
    #ffbf008b 100%,
    var(--bg-color)
  );
}

.notion-yellow_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #fafcaeab 0%,
    #fbff006f 100%,
    var(--bg-color)
  );
}

.notion-teal_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #90EE90 0%,
    #4bbb177b 100%,
    var(--bg-color)
  );
}

.notion-blue_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #89cff09a 0%,
    #0095ff7e 100%,
    var(--bg-color)
  );
}

.notion-purple_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #cf9fff42 0%,
    #5d3fd387 100%,
    var(--bg-color)
  );
}

.notion-pink_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #FFC0CB 0%,
    #ffb6c1b2 100%,
    var(--bg-color)
  );
}

.notion-red_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #F88379 0%,
    #ee4c2bce 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-red_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-blue_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 1 -0.25rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  box-decoration-break: clone;
  background-image: none;
  background-image: linear-gradient(
    135deg,
    var(--bg-color-dark, #2b2b2b), /* Utilisez une couleur de fond plus sombre spécifiée ou une valeur par défaut */
    #3a3a3a 0%,
    #4b4b4b 100%,
    var(--bg-color-dark, #2b2b2b)
  );
  /* Adding a shadow for a more 3D effect 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9),
              0 1px 3px rgba(0, 0, 0, 0.85);*/
  /* Ensuring text inside is readable */
  color: #ebebeb;
}

.dark-mode .notion-brown_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #a52a2a72 0%,
    #7b400069 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-orange_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #b873337f 0%,
    #cc5500a3 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-yellow_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #ffdb5890 0%,
    #ffd900a4 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-teal_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #5f857582 0%,
    #097968c1 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-blue_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #89cff060 0%,
    #0047AB 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-purple_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #cf9fff42 0%,
    #5d3fd387 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-pink_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #AA336A 0%,
    #673147 100%,
    var(--bg-color)
  );
}

.dark-mode .notion-red_background {
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #c41e3ad0 0%,
    #770737 100%,
    var(--bg-color)
  );
}

/* Workaround for Firefox not supporting backdrop-filter yet */
@-moz-document url-prefix() {
  .dark-mode .notion-header {
    background: hsla(203, 8%, 20%, 0.8);
  }
}

.notion-row {
  overflow: unset;
}

.notion-block-f382a57807bc40779860eb079d0144f2 img.medium-zoom-image {
  border-radius: 8px;
  box-shadow: 4px 4px 24px rgb(0 0 0 / 21%);
}

.notion-block-f382a57807bc40779860eb079d0144f2 span {
  overflow: visible !important;
}

/* if you don't want rounded page icon images, remove this */
.notion-page-icon-hero.notion-page-icon-image {
  border-radius: 50%;
  box-shadow: 4px 4px 24px 0 rgb(0 0 0 / 21%);
}

.notion-page-icon-hero.notion-page-icon-image span,
.notion-page-icon-hero.notion-page-icon-image img {
  border-radius: 50%;
}

.notion-header {
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(16px);
}

.dark-mode .notion-header {
  background: transparent;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(20px);
}

.notion-bookmark:hover {
  border-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  border-image-slice: 1;
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-column {
  padding: 0;
}

.notion-block-7707cbf115944e9f95b3ec3f477c72b9 {
  display: none;
}

.notion-search .searchBar {
  box-shadow: var(--fg-color-0) 0px 1px 0px;
}

.notion-search .noResults {
  color: var(--fg-color-3);
}

.notion-search .noResultsDetail {
  color: var(--fg-color-2);
}

.notion-equation.notion-equation-block {
  align-items: center;
}

.notion-list {
  max-width: 100%;
}

ol:not(:has(> li)),
ul:not(:has(> li)) {
  padding: 0 !important;
}

.notion-block-dfc7f709ae3e42c69292f6543d5586f0 .notion-collection-header,
.notion-block-dfc7f709ae3e42c69292f6543d5586f0 .notion-collection-column-title-icon,
.notion-block-dfc7f709ae3e42c69292f6543d5586f0 .notion-table .notion-page-icon-inline {
  display: none;
}

.notion-block-dfc7f709ae3e42c69292f6543d5586f0 .notion-table {
  width: 100% !important;
  max-width: 100vw !important;
  margin: 1em 0;
}

.notion-block-dfc7f709ae3e42c69292f6543d5586f0 .notion-table-view {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.notion-block-266ce1a8316f44ecbd36e3908ebdba78 .notion-page-icon-hero.notion-page-icon-image {
  border-radius: unset;
  box-shadow: none;
}

.notion-block-266ce1a8316f44ecbd36e3908ebdba78 .notion-page-icon-hero.notion-page-icon-image img,
.notion-block-266ce1a8316f44ecbd36e3908ebdba78 .notion-page-icon-hero.notion-page-icon-image span {
  border-radius: unset;
}

/* New styles for table of contents and blog post shadows */

/* Styling for the side table of contents */
.notion-aside .notion-contentPosition {
  width: 100%;
}

.notion-aside .notion-contentPosition .item {
  display: block;
  position: relative;
  padding: 0.3rem 1.3rem;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.5;
  transition: opacity 250ms;

  &.level1 {
    padding-left: 2rem;
  }

  &.level2 {
    padding-left: 3rem;
    font-size: 0.8rem;
  }

  &.active {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-right: 1px solid var(--fg-color);
    opacity: 0.2;
    z-index: 1;
  }

  .activeLine {
    position: absolute;
    background-color: var(--primary-color);
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--primary-color);
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.notion-aside .notion-contentPosition.alignRight .item {
  text-align: right;
  padding: 0.3rem 1rem 0.3rem 1.3rem;

  &.level1 {
    padding-left: 0;
    padding-right: calc(1.3rem + 1rem);
  }

  &.level2 {
    padding-left: 0;
    padding-right: calc(1.3rem + 2rem);
  }

  &::before {
    right: 0;
    left: auto;
  }

  .activeLine {
    right: 0;
    left: auto;

    &::before {
      left: auto;
      right: 0.5rem;
    }
  }
}

/* Adding shadow to blog posts for better visual hierarchy */
.postList > a {
  background-color: var(--notion-card-background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 250ms, background-color 250ms;

  &:hover {
    transform: translateY(-8px);
  }

  @media (min-width: 1431px) {
    &:not(:nth-child(4n)) {
      margin-right: calc(30px);
    }
  }

  @media (max-width: 1430px) and (min-width: 1051px) {
    width: calc(33.33% - (30px * 2) / 3);
    &:not(:nth-child(3n)) {
      margin-right: calc(30px);
    }
  }

  @media (max-width: 1050px) and (min-width: 761px) {
    width: calc(50% - 30px / 2);
    &:not(:nth-child(2n)) {
      margin-right: calc(30px);
    }
  }

  @media (max-width: 760px) {
    width: 100%;
  }

  .notion-collection-card-cover {
    border-radius: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: none;

    img {
      border-radius: 0;
    }
  }

  .notion-collection-card-property {
    padding: 0;
  }

  .notion-property-select-item {
    margin-bottom: 0.3rem;
  }

  .notion-property-multi_select-item::before {
    content: '#';
  }

  .notion-collection-card-body {
    display: block;
    padding: 1rem 1.3rem;

    .notion-page-icon-image {
      display: none;
    }

    .notion-page-title-text {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .notion-property-title {
      width: 100%;
      display: block;
    }

    .notion-property-select {
      margin-right: 6px;
    }

    .notion-collection-card-property:last-child {
      overflow: initial;

      .notion-property-created_time {
        display: block;
        width: calc(100% + 1.3rem * 2);
        margin-left: -1.3rem;
        padding-left: 1.3rem;
        padding-top: 1rem;
        margin-top: 0.9rem;
        border-top: 1px solid var(--line-color);
        display: block;
        opacity: 0.7;
        line-height: 1;
      }
    }

    .notion-collection-card-property:nth-child(2) {
      height: 85px;

      .notion-property-text {
        width: 100%;
        white-space: initial;
        color: #7a7c85;
        font-size: 13px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }
  }
}
